[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
langchain = "*"
openai = "*"
langchain-openai = "*"
pyaudio = "*"
openai-whisper = "*"
soundfile = "*"
pocketsphinx = "*"

[dev-packages]

[requires]
python_version = "3.9"
